

#mainH1 {
    color: red;
    border: 5px solid greenyellow;
    height: 125px;
    width: 500px;
    font-size: 100px;
    text-align: center;
    background-color: aquamarine;
}

p, .important, #mainH1 {
    color: white;
    background-color: black; 
}

* {
    color: green;
    }
